name: deploy

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch name to create build image"
        required: true
        type: string

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ inputs.branch }}
          submodules: "recursive"

      - name: Build
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: graphql
          tags: latest
          containerfiles: |
            ./docker/Dockerfile

      - name: Push
        id: push-image
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ${{ secrets.DOCKERHUB_REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
    
      - name: Portainer Stack Redeploy
        # You may pin to the exact commit or the version.
        # uses: wirgen/portainer-stack-redeploy-action@b779a44ee251093b07cab4311458bf4f6f1b866f
        uses: wirgen/portainer-stack-redeploy-action@v1.1
        with:
          # Portainer URL
          portainerUrl: portainer.23alice.duckdns.org
          # Portainer access token
          accessToken: ${{ secrets.PORTAINER_TOKEN }}
          # Stack ID
          stackId: graphql
